DATABASE_URL="file:./dev.db"
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_REDIRECT_URI="http://localhost:8080/api/auth/discord/callback"
SESSION_SECRET="change-me-in-production"
APP_URL="http://localhost:8080"
LOADER_BASE_URL="http://192.168.1.28:8080"
DISCORD_ADMIN_IDS=
